body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightcyan;
}



h1{
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}
.main-div{
  background: lightcoral;
  width: 300px;
  height: 300px;
  margin: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 3px 3px 10px #000;
}
.main-div .input{
  padding: 0.5rem;
  margin-top: 2rem;
  outline: none;
  border-radius: 0.5rem;
  border: none;
  font-weight: bold;
  transition: all 3s ease-in-out;
}
.main-div .input:hover{
  box-shadow: inset 3px 3px 10px #000;
  cursor: pointer;
}
.main-div .label{
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.main-div button{
  padding: 0.5rem;
  margin-top: 3rem;
  background: #333;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 3s ease-in-out;
}
.main-div button:hover{
  transform: skew(20deg);
  box-shadow: 3px 3px 10px #fff;
}